:root {
    --color-primary: #D73953;
    --color-black:  #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --color-red: #cd3e65;
    --color-green: #08805b;

    --text-color: var(--color-black);
    --valid-color: var(--color-green);
    --error-color: var(--color-red);

    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    --section-padding: 5rem 1.5rem;
    --section-header-padding: 0 0 3rem;
    --section-header-align: center;
    --section-title-font-size: var(--font-size-xx-large);
    --section-title-font-weight: var(--font-weight-bold);
    --section-title-line-height: var(--line-height-small);
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
    --section-tagline-transform: uppercase;
    --section-tagline-color: var(--color-primary);
    --section-tagline-font-family: var(--font-family-headings);
    --section-tagline-font-weight: var(--font-weight-bold);
    --section-tagline-margin: 0;
    --section-body-padding: 2rem 0 0;
    --section-footer-padding: 3rem 0 0;
    --section-footer-align: center;

    --header-padding: 4rem 0 0;

    --footer-padding: 5rem 0 1rem;

    --nav-item-font-family: var(--font-family-headings);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: .04rem;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 0 2rem;
    --nav-item-link-hover: var(--color-white);

    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: var(--color-primary) solid 0.2rem;
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);

    --transition-duration: .3s;
    --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:visited {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: var(--color-light-grey);
}

.button {
    display: var(--button-display);
    padding: var(--button-padding);
    border: var(--button-border);
    font-size: var(--button-font-size);
    color: var(--button-color);
    text-decoration: var(--button-text-decoration);
    cursor: pointer;
}

.button:hover {
    color: var(--button-hover-color);
    text-decoration: var(--button-hover-text-decoration);
    background: var(--button-hover-background);
    transition-duration: var(--transition-duration);
    transition-property: color, background-color;
}

.button-primary {
    color: var(--color-white);
    background: var(--color-primary);
}

.button-primary:hover {
    color: var(--color-primary);
    background: var(--color-white);
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

main img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

ul.row {
    margin: -1rem;
    padding: 0;
    list-style: none;
}

.row {
    display: flex;
}

[class*='col-'] {
    margin: 1rem;
}

.col-1-3 {
    width: calc((100% / 3) - 2rem);
}

.col-1-2 {
    width: calc((100% / 2) - 2rem);
}

@media screen and (max-width: 767px) {
    ul.row, .row {
        flex-direction: column;
        margin: 0;
    }

    [class^='col-'] {
        margin: 0 0 3rem 0;
    }

    .col-1-3, .col-1-2 {
        width: 100%;
    }
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
}

.nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
}

.nav .nav-item + .nav-item {
    margin: var(--nav-item-margin);
}

.nav .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

.nav .nav-link:hover {
    color: var(--nav-item-link-hover);
    text-decoration: none;
}

.nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    width: 0;
    height: 0.2rem;
    transition: var(--transition-duration) var(--transition-cubic-bezier);
}

.nav .nav-item:hover .nav-link::before {
    background-color: var(--color-primary);
    width: 100%;
}

@media screen and (max-width: 767px) {
    .navbar-menu {
        display: none;
    }
}

.header {
    padding: var(--header-padding);
    position: relative;
    z-index: 3;
    background: transparent;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    --nav-item-font-weight: normal;
    --nav-item-font-size: var(--font-size-small);
    padding: var(--footer-padding);
}

.footer-copyright {
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--text-color);
}

.footer ul {
    text-align: right;
}

.footer-address {
    color: var(--text-color);
}

.social-link {
    display: block;
}

.social-link > svg {
    fill: var(--text-color);
}

.section {
    padding: var(--section-padding);
}

.section-header {
    text-align: var(--section-header-align);
    padding: var(--section-header-padding);
}

.section-title {
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
    line-height: var(--section-title-line-height);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}

.section-tagline {
    color: var(--section-tagline-color);
    font-family: var(--section-tagline-font-family);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--section-tagline-font-weight);
    margin: var(--section-tagline-margin);
}

.section-body {
    padding: var(--section-body-padding);
}

.section-footer {
    padding: var(--section-footer-padding);
    text-align: var(--section-footer-align);
}

[data-section-theme="dark"] {
    --button-color: var(--color-white);
    --text-color: var(--color-white);
    --section-title-color: var(--color-white);
    background: var(--color-black);
}

.section-hero {
    position: relative;
    margin-top: -8.5rem;
}

.hero-homepage {
    background-image: url(images/banner-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    color: var(--color-white);
    padding: 15rem 0;
    text-align: center;
}

h1.hero-title {
    font-size: var(--font-size-xx-large);
    line-height: 1.5;
    margin: 0 0 2rem;
    text-transform: uppercase;
}

h2.hero-subtitle {
    font-size: var(--font-size-x-large);
    line-height: 1.5;
    margin: 0;
}

.hero-cta {
    margin-top: 3rem;
}

.testimonial {
    border: 0.1rem solid var(--color-grey);
    padding: 2rem;
    margin-bottom: 3rem;
}

.testimonial-author {
    font-weight: var(--font-weight-bold);
}

@media screen and (max-width: 992px) {
    .testimonial {
        margin-bottom: 2rem;
    }

    .hero-homepage {
        height: 20rem;
    }

    h1.hero-title {
        font-size: var(--font-size-large);
    }
}
